

/* ---------------------------------
 * Opacity
 * --------------------------------- */

.opacity {

  &__0 {
    opacity: 0;
  }

  &__25 {
    opacity: .25;
  }

  &__50 {
    opacity: .5;
  }

  &__75 {
    opacity: .75;
  }

  &__1 {
    opacity: 1;
  }

}

/* ---------------------------------
 * Other
 * --------------------------------- */

.cursor-pointer {
  cursor: pointer;
}