
//margin

.margin {

  &__auto {
    margin: auto;
  }

  &__0 {
    margin: 0;
  }

  &__10 {
    margin: 10px;
  }

  &__20 {
    margin: 20px;
  }

  &__30 {
    margin: 30px;
  }

  &__40 {
    margin: 40px;
  }

  &__50 {
    margin: 50px;
  }

  &__60 {
    margin: 60px;
  }

  &__70 {
    margin: 70px;
  }

  &__80 {
    margin: 80px;
  }

  &__90 {
    margin: 90px;
  }

  &__100 {
    margin: 100px;
  }

}

.margin-top {

  &__auto {
    margin: auto;
  }

  &__0 {
    margin-top: 0;
  }

  &__10 {
    margin-top: 10px;
  }

  &__20 {
    margin-top: 20px;
  }

  &__30 {
    margin-top: 30px;
  }

  &__40 {
    margin-top: 40px;
  }

  &__50 {
    margin-top: 50px;
  }

  &__60 {
    margin-top: 60px;
  }

  &__70 {
    margin-top: 70px;
  }

  &__80 {
    margin-top: 80px;
  }

  &__90 {
    margin-top: 90px;
  }

  &__100 {
    margin-top: 100px;
  }

}

.margin-bottom {

  &__auto {
    margin-bottom: auto;
  }

  &__0 {
    margin-bottom: 0;
  }

  &__10 {
    margin-bottom: 10px;
  }

  &__20 {
    margin-bottom: 20px;
  }

  &__30 {
    margin-bottom: 30px;
  }

  &__40 {
    margin-bottom: 40px;
  }

  &__50 {
    margin-bottom: 50px;
  }

  &__60 {
    margin-bottom: 60px;
  }

  &__70 {
    margin-bottom: 70px;
  }

  &__80 {
    margin-bottom: 80px;
  }

  &__90 {
    margin-bottom: 90px;
  }

  &__100 {
    margin-bottom: 100px;
  }

}

.margin-left {

  &__auto {
    margin-left: auto;
  }

  &__0 {
    margin-left: 0;
  }

  &__10 {
    margin-left: 10px;
  }

  &__20 {
    margin-left: 20px;
  }

  &__30 {
    margin-left: 30px;
  }

  &__40 {
    margin-left: 40px;
  }

  &__50 {
    margin-left: 50px;
  }

  &__60 {
    margin-left: 60px;
  }

  &__70 {
    margin-left: 70px;
  }

  &__80 {
    margin-left: 80px;
  }

  &__90 {
    margin-left: 90px;
  }

  &__100 {
    margin-left: 100px;
  }

}

.margin-right {

  &__auto {
    margin-right: auto;
  }

  &__0 {
    margin-right: 0;
  }

  &__10 {
    margin-right: 10px;
  }

  &__20 {
    margin-right: 20px;
  }

  &__30 {
    margin-right: 30px;
  }

  &__40 {
    margin-right: 40px;
  }

  &__50 {
    margin-right: 50px;
  }

  &__60 {
    margin-right: 60px;
  }

  &__70 {
    margin-right: 70px;
  }

  &__80 {
    margin-right: 80px;
  }

  &__90 {
    margin-right: 90px;
  }

  &__100 {
    margin-right: 100px;
  }

}

//padding

.padding {

  &__auto {
    padding: auto;
  }

  &__0 {
    padding: 0;
  }

  &__10 {
    padding: 10px;
  }

  &__20 {
    padding: 20px;
  }

  &__30 {
    padding: 30px;
  }

  &__40 {
    padding: 40px;
  }

  &__50 {
    padding: 50px;
  }

  &__60 {
    padding: 60px;
  }

  &__70 {
    padding: 70px;
  }

  &__80 {
    padding: 80px;
  }

  &__90 {
    padding: 90px;
  }

  &__100 {
    padding: 100px;
  }

}

.padding-top {

  &__auto {
    padding: auto;
  }

  &__0 {
    padding-top: 0;
  }

  &__10 {
    padding-top: 10px;
  }

  &__20 {
    padding-top: 20px;
  }

  &__30 {
    padding-top: 30px;
  }

  &__40 {
    padding-top: 40px;
  }

  &__50 {
    padding-top: 50px;
  }

  &__60 {
    padding-top: 60px;
  }

  &__70 {
    padding-top: 70px;
  }

  &__80 {
    padding-top: 80px;
  }

  &__90 {
    padding-top: 90px;
  }

  &__100 {
    padding-top: 100px;
  }

}

.padding-bottom {

  &__auto {
    padding-bottom: auto;
  }

  &__0 {
    padding-bottom: 0;
  }

  &__10 {
    padding-bottom: 10px;
  }

  &__20 {
    padding-bottom: 20px;
  }

  &__30 {
    padding-bottom: 30px;
  }

  &__40 {
    padding-bottom: 40px;
  }

  &__50 {
    padding-bottom: 50px;
  }

  &__60 {
    padding-bottom: 60px;
  }

  &__70 {
    padding-bottom: 70px;
  }

  &__80 {
    padding-bottom: 80px;
  }

  &__90 {
    padding-bottom: 90px;
  }

  &__100 {
    padding-bottom: 100px;
  }

}

.padding-left {

  &__auto {
    padding-left: auto;
  }

  &__0 {
    padding-left: 0;
  }

  &__10 {
    padding-left: 10px;
  }

  &__20 {
    padding-left: 20px;
  }

  &__30 {
    padding-left: 30px;
  }

  &__40 {
    padding-left: 40px;
  }

  &__50 {
    padding-left: 50px;
  }

  &__60 {
    padding-left: 60px;
  }

  &__70 {
    padding-left: 70px;
  }

  &__80 {
    padding-left: 80px;
  }

  &__90 {
    padding-left: 90px;
  }

  &__100 {
    padding-left: 100px;
  }

}

.padding-right {

  &__auto {
    padding-right: auto;
  }

  &__0 {
    padding-right: 0;
  }

  &__10 {
    padding-right: 10px;
  }

  &__20 {
    padding-right: 20px;
  }

  &__30 {
    padding-right: 30px;
  }

  &__40 {
    padding-right: 40px;
  }

  &__50 {
    padding-right: 50px;
  }

  &__60 {
    padding-right: 60px;
  }

  &__70 {
    padding-right: 70px;
  }

  &__80 {
    padding-right: 80px;
  }

  &__90 {
    padding-right: 90px;
  }

  &__100 {
    padding-right: 100px;
  }

}